* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  height: 700px;
  overflow: hidden;
  font-family: sans-serif;
}

.fondo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.degradado {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 51, 0, 0.4), rgba(0, 51, 0, 0.95));
  z-index: 1;
}

.barra-superior {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 100px;
  margin-right: -10%;
}

.logo h1{
    font-size:35px;
    font-weight:900
}

.logo h2{
    text-align: center;
}

nav{
    padding-left: 20%;
}

nav ul {
  display: flex;
  list-style: none;
  background-color: white;
  border-radius: 15px;
  height: 35px;
  gap: 6px;
  align-items: center;
}

nav li a {
  display: inline-block;
  padding: 9.5px 11px;
  height: 100%;
  background-color: white;
  color: #003300;
  font-weight: bold;
  border-radius: 13px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 1;
  min-width: 120px;
  text-align: center;
  box-sizing: border-box;
}

nav li a:hover {
  background-color: #003300;
  color: white;
}

.textEnca{
    position: absolute;
    margin-top: 40%;
    margin-left: 12%;
    padding: 10px;
}

.textEnca h1{
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.100px;
}

.textEnca h2{
   display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    color: #003300;
    font-size: 27px;
}
/*---------------------------------*/
/* NUEVO COMPORTAMIENTO DE PANEL ACCESO 

.acceso-sistema {
  position: absolute;
  margin-top: 56%;
  margin-left: 55%;
  z-index: 2;
}

.btn-acceso {
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.acceso-panel {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: rgba(0, 51, 0, 0.95);
  color: white;
  text-align: center;
  padding: 150px 40px;
  box-sizing: border-box;
  transition: right 0.5s ease;
  z-index: 100;
  border-radius: 30px 0 0 30px;
}

#acceso-toggle:checked ~ header .acceso-panel {
  right: 0;
}

#acceso-toggle:checked ~ header .acceso-sistema {
  display: none;
}

.ingresa-btn {
  background: #004000;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 25px;
}

.cerrar {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}



/*  -----------------------------------------    */

.queHace {
    position:relative;
    z-index: 100;
    width: 61%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 40px auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    overflow: hidden;
    margin-top: -75px;
}

.lado-izquierdo {
  position: relative;
  width: 50%;
  min-height: 300px;
}

.lado-izquierdo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.logoZ {
    width: 48%;
    height: 23%;
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #003300;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    margin-left: 48%;
    margin-bottom: -3%;
    
}

.logoZ img {
    width: 35%;
    height: 100%;
    display: block;
}

.logoZ h1 {
    padding-top: 9px;
    font-size: 22px;
    font-weight: 900;
    margin: 0;
}

.logoZ h2 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.lado-derecho {
  width: 50%;
  padding: 25px;
  box-sizing: border-box;
}

.lado-derecho h1 {
  font-size: 20px;
  color: #003300;
  margin-bottom: 10px;
}

.lado-derecho p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.lado-derecho ul {
  font-size: 14px;
  padding-left: 20px;
  margin: 0;
}

/*  --------  Iniciativas  --------  */
.iniciativas{
    position:relative;
    align-items: center;
    text-align: center;
    width: 63%;
    margin-left:19%;
}

.iniciativas h1{
    color: #030;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 15px;
}
.iniciativas p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 15px;
}

.cards{
    display:flex
}

.card{
    border-radius: 13px;
    margin-top: 30px;
    width: 20%;
    height: 180px;
    padding:5%;
    margin-left: 10%;
    color:white;
    font-size: 10px;
}

.card img{
    position:inherit;
    width: 100%;
    height: 100%;
    margin:0;
}

#t1{
    background: #030;
}

#t2{
   background: #8EBA7E; 
}

#t3{
    background: #714934;
}

/*  --------------- contáctenos  ------------------*/

.contactenos{
    width: 90%;
    display: flex;
    margin-top: 40px;
}
.difuminado{
    width: 83%;  
    margin-right: 80px;  
}
.contactenos img{
    width: 100%;
    -webkit-mask-image: linear-gradient(to right, black 70%, transparent 100%);
    mask-image: linear-gradient(to right, black 70%, transparent 100%);
}

.contacDer{
    margin-left: 80px;
    padding-top: 30px;
}

.contacDer h1{
    color: #030;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 13px;
}

.contacDer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 13px;
}

.contacDer button{
    background: #8EBA7E;
    border-radius: 5px;
    border: none;
    padding:10px;
    color:white;
    font-size: 18px;
    font-weight: 700;
    padding-right: 20px;
    padding-left: 20px;
    display:flex;
    place-items: center;
}

.svg{
margin-right: 10px;
}

/*  --------------- Galería  -------------*/

.galeria{
    margin-top: 30px;
}

.galeria h1{
    text-align: center;
    color: #030;
    font-size: 40px;
    margin-bottom: 10px;
}
.galeria .img2{
    display: flex;
    margin-left: 10%;
    width: 80%;
}

.img2 .card{
    width: 38%;
    padding: 0;
    margin-left: 10px;
    border-radius: 15px;
    margin-top: 0;
    overflow: hidden;
}

.img2 img{
    width: 100%;
    height: auto;
}

/*  -------  contactos  -----------*/
.contactos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #003300;
  color: white;
  padding: 30px 40px;
  font-family: Arial, sans-serif;
  gap: 20px;
  margin-top: 100px;
}

/* LOGO */
.contacLogo {
  width: 22%;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
    margin-left: -23px;
    margin-right: 140px;
}

.contacLogo img {
  width: 200px;
  margin-right: -43px;
}

.contacLogo h1 {
  font-size: 26px;
  margin: 0;
  font-weight: 900;
}

.contacLogo h2 {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 100;
}

/* INFORMACIÓN */
.info {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: -23px;
}

.info > div {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.info svg {
  width: 24px;
  height: auto;
  flex-shrink: 0;
}

.info h1 {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.info h2 {
  font-size: 13px;
  margin: 0;
}

/* REDES SOCIALES */
.redesSoc {
  width: 18%;
}

.redesSoc h1 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.redesSoc div {
  display: flex;
  gap: 10px;
}

.redesSoc svg {
  width: 24px;
  height: 24px;
  fill: #8EBA7E;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.redesSoc svg:hover {
  transform: scale(1.1);
}

/* MAPA */
.mapa {
  width: 18%;
}

.mapa h1 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.mapa img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/*  --------------- footer  -----------*/
footer{
    background-color: #8EBA7E;
    text-align: center;
}

footer h1{
    color:black;
    font-size: 20px;
    font-weight: 100;
}

/*------------------------------------*/
.acceso-sistema {
  position: absolute;
  display: flex;
  top: 45%;
  left: 65%;
  z-index: 3;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 23px;
  font-weight: 600;
  align-items: center;
}

.acceso-sistema label{
  margin-right: 13px;
}

.prins{
  align-items: center;
  height: 200px;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 80px;
  margin-right: 0%;
  margin-left: 65px;
  
  
}

.prins2{
  position:absolute;
  z-index: 4;
  margin-top: 5px;
  margin-left: 130px;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  font-size: 14px;
  font-weight: 100;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  width: 350px;
}

.prins2 div{
  margin-left: 10px;
  text-align: center;
}

.prins2 button{
  background-color:#003300;
  border-radius: 10px;
  padding: 12px;
  border:none;
  width: 150px;
  margin-top: 25px;
}

.prins2 a{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.prins2 {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  height: auto;
}

.prins2.visible {
  visibility: visible;
  opacity: 1;
}

/* Añadir al final del archivo index.css */

/* Estilos base para móviles (ya están en el CSS existente) */

/* Media Queries para responsividad */
@media (max-width: 1200px) {
  .queHace {
    width: 80%;
    margin-left: 10%;
  }
  
  .iniciativas {
    width: 80%;
    margin-left: 10%;
  }
  
  .contactenos {
    flex-direction: column;
    width: 100%;
  }
  
  .difuminado {
    width: 100%;
    margin-right: 0;
  }
  
  .contacDer {
    margin-left: 20px;
    padding: 20px;
  }
}

@media (max-width: 992px) {
  .barra-superior {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
  }
  
  nav {
    padding-left: 0;
    margin-top: 15px;
    width: 100%;
  }
  
  nav ul {
    width: 100%;
    justify-content: space-around;
  }
  
  nav li a {
    min-width: auto;
    padding: 9.5px 8px;
    font-size: 14px;
  }
  
  .textEnca {
    margin-top: 30%;
    margin-left: 5%;
  }
  
  .acceso-sistema {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .queHace {
    flex-direction: column;
  }
  
  .lado-izquierdo, .lado-derecho {
    width: 100%;
  }
  
  .logoZ {
    width: 70%;
    margin-left: 15%;
  }
  
  .cards {
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 80%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  
  .contactos {
    flex-direction: column;
    padding: 20px;
  }
  
  .contacLogo, .info, .redesSoc, .mapa {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 768px) {
  header {
    height: 600px;
  }
  
  .logo img {
    height: 80px;
  }
  
  .logo h1 {
    font-size: 28px;
  }
  
  .logo h2 {
    font-size: 16px;
  }
  
  .textEnca h1 {
    font-size: 30px;
  }
  
  .textEnca h2 {
    font-size: 20px;
  }
  
  .acceso-sistema {
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .prins {
    display: none;
  }
  
  .prins2 {
    position: relative;
    width: 100%;
    margin-left: 0;
    border-radius: 0;
    padding: 20px;
  }
  
  .img2 {
    flex-direction: column;
    align-items: center;
  }
  
  .img2 .card {
    width: 80%;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  header {
    height: 500px;
  }
  
  .logo {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo img {
    margin-right: 0;
    margin-bottom: 5px;
  }
  
  nav ul {
    height: auto;
    flex-wrap: wrap;
    padding: 5px;
  }
  
  nav li {
    margin-bottom: 5px;
  }
  
  .textEnca {
    margin-top: 40%;
  }
  
  .textEnca h1 {
    font-size: 24px;
  }
  
  .textEnca h2 {
    font-size: 16px;
  }
  
  .contacDer h1 {
    font-size: 30px;
  }
  
  .contacDer p {
    font-size: 16px;
  }
}